<div class='text-field'>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>

<div class='text-field'>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>

<div class='text-field'>
  <%= form.label :email %>
  <%= form.text_field :email, :type => 'email' %>
</div>

<div class='password-field'>
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
