<div id='clearance' class='sign-up'>
  <h2>Edit your information</h2>

  <%= form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>

    <div class='submit-field'>
      <%= form.submit %>
    </div>

  <% end %>
</div>
