<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<p>
Your in game mail will be forwarded to: <%= mail_to @user.email %>
</p>


<ul>
<%= render @user.characters %>
</ul>

<p><%= link_to "Add an account", new_account_path %></p>
