<!DOCTYPE html>
<html>
  <head>
    <title>EveMailGateway</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <head>
      <% if signed_in? %>
	Signed in as: <%= current_user.email %>
	<%= link_to 'Sign out', sign_out_path, :method => :delete %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>

      <div id="flash">
	<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
	<% end %>
      </div>
    </head>

    <%= yield %>

  </body>
</html>
