<div class='text-field'>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class='text-field'>
  <%= form.label :keyId %>
  <%= form.text_field :keyId %>
</div>

<div class='text-field'>
  <%= form.label :vCode %>
  <%= form.text_field :vCode %>
</div>
