<h1>Edit <%= @account.name %></h1>

<%= form_for @account do |form| %>
  <%= render :partial => 'form', :object => form %>

  <div class='submit-field'>
      <%= form.submit %>
    </div>

<% end %>

